{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div id="hahaha" class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card-group d-block d-md-flex row">
              <div class=" col-md-7 col-lg-6 p-4 mb-0" >
                <div class="card-body">
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">
                    {% if msg %}
                      {{ msg | safe }}
                    {% else %}              
                      Add your credentials
                    {% endif %}                      
                  </p>

                  <form role="form" method="post" action="">

                    {{ form.hidden_tag() }} 

                        <div class="input-group mb-3"><span class="input-group-text">
                            <svg class="icon">
                              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                            </svg></span>
                          {{ form.username(placeholder="Username", class="form-control") }}
                        </div>
                        <div class="input-group mb-4"><span class="input-group-text">
                            <svg class="icon">
                              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                            </svg></span>
                          {{ form.password(placeholder="Password", class="form-control", type="password") }}
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <button class="btn btn-dark px-4" type="submit" name="login">Login</button>
                          </div>
                          <div class="col-6 text-end">
                            <a href="{{ url_for('authentication_blueprint.register') }}" class="btn btn-link px-0" style="color:rgb(16, 41, 73);" type="button">Register</a>
                          </div>
                        </div>

                  </form> 

                </div>
              </div>
              <div class="col-lg-6  text-white" style="padding:0%; margin:0%;">
                <div class=" text-center">
                  <div>
                    <h2>
                      
                    </h2>
                    <!-- <img src="{{ config.ASSETS_ROOT }}/img/torque.PNG" style="width:70%;" class="navbar-brand-img h-100" alt="main_logo"> -->
                    <video width="400" height="400" autoplay muted loop>
                      <source src="{{ config.ASSETS_ROOT }}/img/torqueai.mp4" type="video/mp4">
                      <source src="movie.ogg" type="video/ogg">
                    
                    </video>
        






                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
