{% extends 'layouts/base.html' %}

{% block title %} Auto Annotation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!DOCTYPE html>
<html>

    <head>
        <title>HLS Player</title>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    </head>

    <body>
		<div style="display: flex; margin-left: 6.2%";>
        <video class="col-lg-6" id="video" style=" margin: 5px -50px;"  controls></video>
        <br>
        <video class="col-lg-6"  id="video1"  style=" margin: 5px 60px;" controls></video>
		</div>
        

        <script>
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('');

            hls.loadSource('https://media5.ambicam.com/live/feed1/feed1.m3u8');

            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
                video.play();
            });

            var video1 = document.getElementById('video1');
            var hls1 = new Hls();
            hls1.loadSource('');

            hls1.loadSource('https://media5.ambicam.com/live/feed2/feed2.m3u8');

            hls1.attachMedia(video1);
            hls1.on(Hls.Events.MANIFEST_PARSED, function () {
                video1.play();
            });

            function seek() {
                var startTime = document.getElementById('startTime').value;
                var endTime = document.getElementById('endTime').value;}
        </script>
    </body>
</html>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}