{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
  <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
{% endblock stylesheets %}

{% block content %}

<style>
  .hehe{
    margin-left: 15px;
    background-color: aliceblue;
    color: #66b3ff;
    border-color: #66b3ff;
    border-radius: 10px;
  }
  .hehe:hover{
    background-color: rgba(102,179,255,0.3);
    color: #66b3ff;
    border-color: #66b3ff;
  }
  .getstarted{
    text-decoration: none;
     color: #66b3ff;
  }
  .bhajan{
    border-radius: 15px; padding: 32px; background: linear-gradient(180deg,#3371d9 0%,#66b3ff 100%);
  }
  .bhajanimg{
    border-radius: 50%; width:50%;border-style: solid; border-color: #d6d6d6; border-width: 5px; 
  }
  .bhajanh5{
    margin-bottom: 0px; padding-top:12px; color:#ffffff
  }
  .bhajanp{
    font-size: 16px; color: #ffffff;
  }

  @media screen and (max-width:1400px) {
    .bhajanh5{
      font-size: 17px;
    }
    .bhajanp{
      font-size: 13px;
    }

  }

  @media screen and (max-width:900px) {
    
    #haha{
      visibility: hidden;
    }
  }


  .nanubhajan{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
  }

</style>

  <div class="">
    
    <div style="display:flex;  margin:10px 0px; ">

    </div>
    <!-- <div class="col-lg-12" style="display: flex; margin-left: 6.2%";>
      <video class="col-lg-6" id="video" style=" margin: 5px -10px;"  controls></video>
        <br>
      <video class="col-lg-6"  id="video1"  style=" margin: 10px 20px;" controls></video>
      </div>
      <div class="col-lg-12" style="display: flex;">
      <video class="col-lg-6"  id="video2"  style=" margin: 10px 20px;" controls></video>
      <video class="col-lg-6"  id="video3"  style=" margin: 30px 50px;" controls></video>
    </div> -->
    <div class="col-lg-12" style="display: flex; margin-left:1% ">
      <div class="col-lg-5 col-sm-12" style="margin-left:1% ">
        <video id="video" style=" width:100%; border-radius: 4px;"  controls autoplay muted></video>
      </div>
      <div class="col-lg-5 col-sm-12"  style="margin-left:1% ">
        <video id="video1"  style="width:100%; border-radius: 4px;" controls autoplay muted></video>
      </div>
    </div>
    <div class="col-lg-12" style="display: flex;  margin-left:1%">
      <div class="col-lg-5 col-sm-12"  style="margin-left:1% ">
        <video id="video4"  style="width:100%; border-radius: 4px;" controls autoplay muted></video>
      </div>
      <div class="col-lg-5 col-sm-12"  style="margin-left:1%;">
        <video id="video3"   style="width:100%; border-radius: 4px;" controls autoplay muted></video>
      </div>
    </div>
        


    </div>

   
  </div>


  <!-- <div class="col-lg-2" id="haha">
    <div class="card card11 bhajan">
      <div class="image nanubhajan">
        <img class="bhajanimg" src="https://lh3.googleusercontent.com/a/AEdFTp7S9Ys878LHTEIAiv9h1Vzs5bR3v0cvKbtvevMl=s96-c" alt="">
        <h5 class="bhajanh5" >Hello {{ current_user.username }} ! </h5>
        <p class="bhajanp">{{ current_user.email }}</p>
      </div>
      
    </div>
  </div> -->

  
</div>

  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  // feed 1
  var video = document.getElementById('video');
  var hls = new Hls();
 

  hls.loadSource('https://punjab105.vmukti.com/live-record/KKKK-821933-VVVVV.m3u8');

  hls.attachMedia(video);
  hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
  });

  // feed 2
  var video1 = document.getElementById('video1');
  var hls = new Hls();
  // hls.loadSource('https://media.torqueai.io/live/nmstest11/nmstest11.m3u8');

  hls.loadSource('https://ptz2.vmukti.com/live-record/ANYK-800646-AAAAA.m3u8');

  hls.attachMedia(video1);
  hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
  });

  // feed 3
  var video1 = document.getElementById('video3');
  var hls = new Hls();
  // hls.loadSource('https://media.torqueai.io/live/nmstest11/nmstest11.m3u8');

  hls.loadSource('https://ptz2.vmukti.com/live-record/ANYK-800646-AAAAA.m3u8');

  hls.attachMedia(video3);
  hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
  });


  // feed 4
  var video1 = document.getElementById('video4');
  var hls = new Hls();
  // hls.loadSource('https://media.torqueai.io/live/nmstest11/nmstest11.m3u8');

  hls.loadSource('https://ptz2.vmukti.com/live-record/ANYK-800646-AAAAA.m3u8');

  hls.attachMedia(video4);
  hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
  });

  function seek() {
      var startTime = document.getElementById('startTime').value;
      var endTime = document.getElementById('endTime').value;}
</script>
  <!-- Plugins and scripts required by this view-->
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/driver.js/dist/driver.min.js"></script>
  <script src="/static/assets/js/tour.js"></script>

 

{% endblock javascripts %}
