

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <!-- load CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">
    <!-- Templatemo style -->
    <title>Computer Vision Web App</title>
<!-- for checkbox-----------



http://www.templatemo.com/tm-517-timeless

-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

</head>

<body>
   
     

    <div class="container">
       
        <div class="col-md-4" style="margin-left:200px;">
            <form method="post" id="multiple_select_form">
            <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true" multiple>
             
                {%for i in range(0, len)%}
                        <option value="{{ data[i] }}">{{ data[i] }}</option>
                {% endfor %}
               
            </select>
            <br /><br />
         
            <input type="submit" name="submit" class="btn btn-info" value="Submit" id="add"/>
            </form>
        <br />
       </div>
        
        <div class="row" style="margin:15px 50px 10px">
            <div class="col-lg-12">
                <div class="video-container" id="first" align="middle">
                    <img src="/video_feed_det_try_4multi" width="40%">

                </div>

                <div class="container" align="middle" style="margin-top:10px">
                    <button class="b1" onclick="switchOn()">Show Video</button>
                    <button class="b2" onclick="switchOff()">Hide Video</button>
                 </div>

            </div>

        </div>

      
        
    </div>
    <!-- .container -->
    <script>
        const switchOn = () => {
            document.getElementById("first").style.display ='block';
        }

        const switchOff = () => {
            document.getElementById("first").style.display ='none';
        }
    </script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <!-- <script src="js/jquery-3.2.1.slim.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/templatemo-script.js')}}"></script>
        <script>
        setInterval(function(){
            var text = $("#my_iframe").contents().find('body').html();
            var lines = text.split("<br>")
            var last_line = lines[lines.length - 2]
            if (last_line.includes("cell phone"))
            {
                $("#my_iframe").css( "background-color", "#58ff05" );
            }
            else
            {
                $("#my_iframe").css( "background-color", "#f2fff6" );
            }
            }, 500);
            
   $('#add').bind('click',function(){    
    $.ajax({
        url: "/try",
        type: "POST",
        data: $('[name=skills]').serialize(),
        
       
    });    
})



    </script>

</body>
</html>
